<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head>
        <title>Hello WebSocket</title>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"rel="stylesheet">
        <link th:href="@{/css/index.css}" rel="stylesheet">
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
        <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
        <script th:src="@{/js/components.js}"></script>
        <script th:src="@{/js/app.js}"></script>
    </head>
</head>
<body>
<div id="root">
    <div class="header" th:onclick="logout()">
        <div th:utext="${user_name}"></div>
        <div>Выйти</div>
    </div>
    <div class="container">
        <div class="chat-box">
            <div class="chat-content">
                <ul class="chat-messages">
                    <div class="chatitem"  id="chat-messages">
                        <div class="chat-user-picture"></div>
                        <div th:if="${messages.size()>0}" th:each="i : ${messages}">
                            <div class="chat-user-name"></div>
                            <div class="chat-user-text" th:utext="${i.getText()}"></div>
                        </div>
                    </div>
                </ul>
                <div class="send-message">
                    <input type="text" id = "message" class="input-message" placeholder="enter the message" value="">
                    <button type="button" class="send-button" onclick="sendValue()">send</button>
                </div>
            </div>
        </div>
        <div th:if="${isManager}" id="manager-panel">
            <a th:href="@{/manage/close/{chatId}(chatId = ${chat_id})}">Закрыть чат</a>
            <a th:href="@{/manage/transferchat/{chatId}/2 (chatId = ${chat_id})}">Перенаправить на 2</a>
        </div>
    </div>
</div>
<input type="hidden" id="chatId" th:value="${chat_id}">
<input type="hidden" id="userId" th:value="${user_id}">
</body>
</html>